name: GitHub Profile Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: MacroPower/github-stats-transparent@latest
        with:
          username: iklsi
          theme: dark
          output: generated
